// customs
$primary: rgb(211, 31, 31);
$success: rgb(168, 85, 85);
$warning: rgb(185, 136, 136);

// how to add new paddings

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss"
