// custom colors
$primary: #f7b00a;
$secondary: #e0a700;
$success: #219927;
$danger: #e21111;
$warning: #f7610a;
$info: #f7c96c;
$light: #fcf8e3;
$dark: #5a4e4b;
$border: #f0e6d2;
$body-bg: #fff8e1;
$body-color: #3c3c3b;

// how to add new paddings

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss"
